<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta charset="UTF-8"/>
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=<%= gtag_tracking_id %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= gtag_tracking_id %>');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://google-fonts-font-display-swap.netlify.com/google-fonts.css" rel="stylesheet"/>
<link rel="canonical" href="https://jpn.bible"/>
<meta property="og:url" content="https://jpn.bible"/>
<link rel="stylesheet" href="/css/index.css"/>
<link rel="icon" type="image/svg+xml" href="/img/logo.svg"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="<%= title %>"/>
<title><%= title %></title>
</head>
<body class="text-center">
<main class="container cover">
<h1>jpn.bible</h1>
<p class="lead">日本語フリー聖書ポータル</p>
<p class="lead">
<a href="/kougo/" class="btn btn-lg btn-primary">口語訳聖書<br/><small>1954/1955版</small></a>
</p>
</main>
</body>
</html>
